.App {
  text-align: center;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.home-link {
  position: fixed;
  top: 20px;
  left: 20px;
}

.navbar img {
  max-width: 100px;
  max-height: 60px;
}

.navbar img:hover {
  border: 1px solid #f76707c3;
}
.nav-link {
  font-family: "Balsamiq Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #f76707;
  line-height: 45px;
}

.nav-link:hover,
.nav-link:active {
  color: #f76707c3;
}
.navbar-nav,
.navbar-toggler {
  margin-left: auto;
  margin-top: 10px;
}

.navbar-toggler {
  color: #f76707;
  border: 1px solid #f76707;
}

.show,
.navbar-collapse {
  background-color: white;
}
.navbar-profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 90px;
  padding-right: 0px;
  margin-right: 0;
}

.navbar-profile-pic:hover {
  border: 1px solid #f76707c3;
}

.welcome {
  margin-top: 90px;
  font-family: "Balsamiq Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
  color: #2f9e44;
}

.balsamiq-sans-regular {
  font-family: "Balsamiq Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.balsamiq-sans-bold {
  font-family: "Balsamiq Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.balsamiq-sans-regular-italic {
  font-family: "Balsamiq Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.balsamiq-sans-bold-italic {
  font-family: "Balsamiq Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}
